---
---

@import "_variables";
@import "_header-footer";

.footer-helper {
    min-height: calc(100vh - #{$footer-height});
}

footer {
    width: 100vw;
    height: $footer-height;
    bottom: $footer-height;

    background-color: $header-footer-background-color;
}



.footer-data {
    @include header-footer-data;

    width: $used-width;
    margin: auto;
    padding-top: 10px;

    font-size: 25px;
}
