---
---

@import "_variables";

.footer-helper {
    min-height: calc(100vh - #{$footer-height});
}

footer {
    width: 100vw;
    height: $footer-height;
    bottom: $footer-height;

    background-color: $header-footer-background-color;
}



.footer-data {
    padding-left: $header-footer-left-offset;

    margin: auto;
    padding-top: calc(#{$footer-height} / 4);

    font-size: 17px;
    color: $black;

    & a {
        &:link {
            text-decoration: none;
            color: $black;
        }
        &:visited {
            text-decoration: none;
            color: $black;
        }
        &:hover {
            text-decoration: underline;
            color: $black;
        }
        &:active {
            text-decoration: underline;
            color: $black;
        }
        &:focus {
            text-decoration: underline;
            color: $black;
        }
    }
}

.footer-contact-icon {
    width: 25px;
    transform: translateY(5px);
}
