---
---

@import "_variables";

.footer-helper {
    min-height: calc(100vh - #{$footer-height});
}

footer {
    width: 100vw;
    height: $footer-height;
    bottom: $footer-height;

    background-color: $header-footer-background-color;
}
