---
---

@import "_variables";

$social-icon-size: 60px;
$social-icon-padding: 10px;
$video-player-width: 400px;


.title {
    margin-top: 20px;
    padding-bottom: $social-icon-padding;
    width: $used-width;
    text-align: center;
}

@media (min-width: 650px) {
    .title {
        padding-left: 40px;
        width: calc(#{$used-width} / 2);
        text-align: left;

        & .subtitle {
            padding-left: 50px;
        }
    }
}

.social-icons {
    
    height: calc(#{$social-icon-size} + 2 * #{$social-icon-padding});

    //Prevents small bars near the social icons
    & a {
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
}

.social-icon {
    padding: $social-icon-padding;
    width: $social-icon-size; 
}



.hello {
    margin-top: 100px;
    margin-bottom: 100px;
}



.video-player {
    width: $video-player-width;
    height: calc(#{$video-player-width} * 9 / 16);
}
