---
---

@import "_variables";

$social-icon-size: 60px;
$social-icon-padding: 10px;
$video-player-width: unquote("min(75vw, 400px)");


#title {
    margin-top: 20px;
    padding-bottom: $social-icon-padding;
    width: $used-width;
    text-align: center;
}

@media (min-width: 650px) {
    #title {
        padding-left: 40px;
        width: calc(#{$used-width} / 2);
        text-align: left;

        & #subtitle {
            padding-left: 50px;
        }
    }
}

#social-icons { 
    height: calc(#{$social-icon-size} + 3 * #{$social-icon-padding});

    //Prevents small bars near the social icons
    & a {
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
}

.social-icon {
    padding: $social-icon-padding;
    width: $social-icon-size; 

    transition-duration: 0.08s;
    &:hover {
        transform: translateY(-6px);
    }
}



#down-arrow-container {
    position: fixed;
    bottom: 50px;
    z-index: -100;
}

#down-arrow {
    width: 30px;
    opacity: 0;
}

/* To prevent the arrow from overwriting any important data */
main div {
    background-color: inherit;
}


#project-more {
    align-items: center;

    & a {
        &:hover {
            color: $orange;
            text-decoration: underline;
        }
        &:active {
            color: $orange;
            text-decoration: underline;
        }
        &:focus {
            color: $orange;
            text-decoration: underline;
        }
    }
}


.video-player {
    width: $video-player-width;
    height: calc(#{$video-player-width} * 9 / 16);
}
