---
# main.scss
---


@import "_variables";

@font-face {
    font-family: "DejaVu Serif";
    src: url("{{ "assets/fonts/DejaVuSerif.ttf" | relative_url }}");
}
@font-face {
    font-family: "DejaVu Serif Bold";
    src: url("{{ "assets/fonts/DejaVuSerif-Bold.ttf" | relative_url }}");
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $text-color;

    font-family: "Lato", "Verdana", sans-serif;
}

main {
    width: $used-width;
    margin: auto;
}


h1 {
    display: inline;

    color: $orange;
    font-family: "DejaVu Serif Bold", serif;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    display: inline;

    color: $orange;
    font-family: "DejaVu Serif Bold", serif;
    font-size: 40px;
}

h6 {
    display: inline;
    font-family: "DejaVu Serif", serif;
    font-size: 20px;
    font-weight: lighter;
}

p {
    font-size: 20px;
}



.box {
    margin: 10px auto;
    border: 3px $dark-orange;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;

    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-width {
    width: $used-width;
}

.centered-text {
    text-align: center;
}


/* Converts black images to beige */
.to-beige {
    filter: invert(100%) brightness(70%) sepia(100%);
}
