---
# main.scss
---


@import "_variables";

@font-face {
    font-family: "DejaVu Serif";
    src: url("{{ "assets/fonts/DejaVuSerif.ttf" | relative_url }}");
}
@font-face {
    font-family: "DejaVu Serif Bold";
    src: url("{{ "assets/fonts/DejaVuSerif-Bold.ttf" | relative_url }}");
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $text-color;

    font-family: "Lato", "Verdana", sans-serif;
    font-size: 1.8em;
}

main {
    width: $used-width;
    margin: auto;
}


h1 {
    display: inline;

    color: $orange;
    font-family: "DejaVu Serif Bold", serif;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    display: inline;

    color: $orange;
    font-family: "DejaVu Serif Bold", serif;
    font-size: 40px;
}

h3 {
    display: inline;

    color: $orange;
    font-family: "DejaVu Serif", serif;
    font-size: 35px;

    & a {
        &:link {
            text-decoration: none;
            color: $orange;
        }
        &:visited {
            text-decoration: none;
            color: $orange;
        }
        &:hover {
            text-decoration: underline;
            color: $dark-orange;
        }
        &:active {
            text-decoration: underline;
            color: $dark-orange;
        }
        &:focus {
            text-decoration: underline;
            color: $dark-orange;
        }
    }
}

h6 {
    display: inline;
    font-family: "DejaVu Serif", serif;
    font-size: 20px;
    font-weight: lighter;

    & a {
        &:link {
            text-decoration: none;
            color: $black;
        }
        &:visited {
            text-decoration: none;
            color: $black;
        }
        &:hover {
            text-decoration: underline;
            color: $black;
        }
        &:active {
            text-decoration: underline;
            color: $black;
        }
        &:focus {
            text-decoration: underline;
            color: $black;
        }
    }
}

p {
    font-size: 20px;
}



.box {
    border: 3px $xdark-orange;
    border-style: solid;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-width {
    width: $used-width;
}

.centered-text {
    text-align: center;
}

@for $gap from 1 through 50 {
    .space#{$gap * 10}px {
        margin-bottom: #{$gap * 10}px;
    }
}

/* Converts black images to beige */
.to-beige {
    filter: invert(100%) brightness(70%) sepia(100%);
}
