---
---

@import "_variables";


#project-list {
    margin-top: 20px;
    margin-bottom: 30px;
}

.project {
    width: calc(#{$used-width} / 4);
    min-width: 150px;
    height: 200px;

    margin: 10px;
}
