<div class="footer-data">
    Made by FoxSylv! nya nya foxgirl uwu <3
    <br>
    <br>
    <a href="https://github.com/FoxSylv1" title="Github" target="_blank" rel="noopener noreferrer">
        <img class="footer-contact-icon" src="{{ "assets/github-icon.svg" | relative_url }}"> FoxSylv1
    </a>
    •
    <a href="https://discord.com/users/294814074670284800" title="Discord" target="_blank" rel="noopener noreferrer">
        <img class="footer-contact-icon" src="{{ "assets/discord-icon.svg" | relative_url }}"> FoxSylv#7315
    </a>
    •
    <a href="{{ "/contact/" | relative_url }}" title="Contact Me!" target="_blank" rel="noopener noreferrer">more!</a>
</div>
