@import "_variables";


$text-shadow-thickness: 0.03em;

@mixin header-footer-data {
    color: $light-orange;
    font-weight: bold;
    text-shadow:
        -$text-shadow-thickness 0 1.2px #000,
        $text-shadow-thickness 0 1.2px #000,
        0 -$text-shadow-thickness 1.2px #000,
        0 $text-shadow-thickness 1.2px #000;

    & a {
        &:link {
            text-decoration: none;
            color: $light-orange;
        }
        &:visited {
            text-decoration: none;
            color: $light-orange;
        }
        &:hover {
            text-decoration: underline;
            color: $orange;
        }
        &:active {
            text-decoration: underline;
            color: $orange;
        }
        &:focus {
            text-decoration: underline;
            color: $orange;
        }
    }
}
