@charset "utf-8";

$black: rgb(20, 10, 5);
$beige: rgb(255, 220, 150);

$xlight-blue: rgb(0, 128, 255);
$light-blue: rgb(50, 150, 255);
$blue: rgb(100, 180, 230);
$dark-blue: rgb(0, 50, 100);

$light-orange: rgb(255, 150, 25);
$orange: rgb(255, 85, 0);
$dark-orange: rgb(100, 70, 0);


$header-height: 50px;
$footer-height: 100px;
$header-footer-background-color: $blue;



$background-color: $black;
$text-color: $beige;

$used-width: unquote("min(90vw, 69rem)");
