<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="FoxSylv">
        <meta name="description" content="{% if page.description %}{{ page.description }}
                                          {% else %}{{ site.description }}{% endif %}">
        <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}
                                       {% else %}{{ site.keywords }}{% endif %}">

        <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url}}">
        <title>{% if page.title %}{{ page.title }}
               {% else %}{{ site.title }}{% endif %}</title>

        <link rel="stylesheet" href="{{ "css/header.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "css/footer.css" | relative_url }}">
    </head>
    <body>
        <div class="footer-helper">
            <header>
                {% include header.html %}
            </header>
            <main>
                {{ content }}
            </main>
        </div>
        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>
