<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="FoxSylv">

        <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
        <title>{% if page.title %}{{ page.title }}
               {% else %}{{ site.title }}{% endif %}</title>

        <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
    </head>
    <body>
        <main>
            {{ content }}
        </main>
    </body>
</html>
